# Use examples of SINASC database
- This notebook will guide you on how to use the data (read / load)
- A simple analysis of the database

## Reading the data

In [ ]:
# First step is to download the data from github, either
# executing the git clone command on your project folder
# or by manually downloading the files from the website

In [ ]:
# The data is in parquet format and compressed with gzip.
# Pandas is a very good python package to handle data like
# this, and fastparquet is required as a 'engine' to properly
# read a parquet file

# To use pandas, we need to first download it
%pip install pandas

# We also need to install fastparquet
%pip install fastparquet

# Once both are installed, there is no need to run this cell
# anymore

In [2]:
# With both downloaded, let's read the file

# Bring pandas to our environment with import
# fastparquet is brought by pandas already, so no need to
# import it manually
import pandas as pd

# read_parquet() from pandas handles the reading
# it also handles the compression without additional parameters
df = pd.read_parquet('db/DN2023.parquet.gzip')

# If the cell above doesn't run, you may need to change some
# configs or the url. Check cell below if that is the case

In [3]:
# This cell is meant to show the current directory which
# python has access.
# Both paths should combine and become the full path to the 
# file. Ex. r:/GitHub/DB_SINASC/db/file.parquet.gzip

import os

os.getcwd()

'r:\\GitHub\\DB_SINASC'

## Analysing

In [4]:
# With the data loaded correctly, we can begin to use pandas

# let's see the 5 first rows
df.head()

,IDADEMAE,DTNASCMAE,RACACORMAE,ESTCIVMAE,QTDFILVIVO,QTDFILMORT,QTDGESTANT,QTDPARTNOR,QTDPARTCES,PARIDADE,...,RACACOR,IDANOMAL,CODANOMAL,LOCNASC,CODESTAB,CODMUNNASC,IDADEPAI,TPMETESTIM,STDNEPIDEM,STDNNOVA
0,32.0,1990-10-10,4.0,2.0,3.0,2.0,4.0,3.0,0.0,1,...,4.0,0,None,1.0,2679477.0,110001,32.0,NaN,0.0,1
1,18.0,2004-08-19,5.0,1.0,NaN,NaN,NaN,NaN,NaN,0,...,5.0,0,None,1.0,2679477.0,110001,NaN,NaN,0.0,1
2,15.0,2007-10-01,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0,...,1.0,0,None,1.0,2679477.0,110001,NaN,NaN,0.0,1
3,32.0,1990-05-20,4.0,2.0,1.0,0.0,1.0,0.0,1.0,1,...,4.0,0,None,1.0,2516500.0,110001,35.0,NaN,0.0,1
4,27.0,1995-07-15,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0,...,4.0,0,None,1.0,2516500.0,110001,NaN,NaN,0.0,1

This gives us some info about the dataframe
- Examples of values from every column
- Some info about missing values

In [5]:
# now let's talk about dimensions, what is the size of 
# this dataframe?

df.shape

(2537576, 49)

We have:
- 2.537.576 rows
- 49 columns

In [6]:
# Let's take a look on more details about each column

# Dtype is the type of a column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2537576 entries, 0 to 2537575
Data columns (total 49 columns):
 #   Column      Dtype
---  ------      -----
 0   IDADEMAE    float32
 1   DTNASCMAE   datetime64[ns]
 2   RACACORMAE  float32
 3   ESTCIVMAE   float32
 4   QTDFILVIVO  float32
 5   QTDFILMORT  float32
 6   QTDGESTANT  float32
 7   QTDPARTNOR  float32
 8   QTDPARTCES  float32
 9   PARIDADE    int32
 10  ESCMAE      float32
 11  ESCMAE2010  float32
 12  SERIESCMAE  float32
 13  ESCMAEAGR1  float32
 14  CODMUNNATU  float32
 15  CODUFNATU   float32
 16  NATURALMAE  float32
 17  CODMUNRES   int32
 18  CODOCUPMAE  float32
 19  DTULTMENST  datetime64[ns]
 20  SEMAGESTAC  float32
 21  GESTACAO    float32
 22  GRAVIDEZ    float32
 23  CONSPRENAT  float32
 24  CONSULTAS   float32
 25  MESPRENAT   float32
 26  KOTELCHUCK  int32
 27  PARTO       float32
 28  TPAPRESENT  float32
 29  STTRABPART  float32
 30  STCESPARTO  float32
 31  TPROBSON    float32
 32  TPNASCASSI  float32
 33  DTNASC      datetime64[ns]
 34  HORANASC    object
 35  APGAR1      float32
 36  APGAR5      float32
 37  PESO        float32
 38  SEXO        int32
 39  RACACOR     float32
 40  IDANOMAL    int32
 41  CODANOMAL   object
 42  LOCNASC     float32
 43  CODESTAB    float32
 44  CODMUNNASC  int32
 45  IDADEPAI    float32
 46  TPMETESTIM  float32
 47  STDNEPIDEM  float32
 48  STDNNOVA    int32
dtypes: datetime64[ns](3), float32(37), int32(7), object(2)
memory usage: 522.7+ MB

In [ ]:
# Here we can see the amount of missing values
# in each column

df.isna().sum()

IDADEMAE           34
DTNASCMAE       14422
RACACORMAE      52509
ESTCIVMAE       17065
QTDFILVIVO      37201
QTDFILMORT      56375
QTDGESTANT      40055
QTDPARTNOR      54082
QTDPARTCES      58606
PARIDADE            0
ESCMAE          17108
ESCMAE2010      27233
SERIESCMAE     872798
ESCMAEAGR1      20077
CODMUNNATU      40008
CODUFNATU       40049
NATURALMAE      40007
CODMUNRES           0
CODOCUPMAE     180826
DTULTMENST    1316285
SEMAGESTAC      20069
GESTACAO        20069
GRAVIDEZ         1383
CONSPRENAT      37292
CONSULTAS       10529
MESPRENAT       87947
KOTELCHUCK          0
PARTO             994
TPAPRESENT      20717
STTRABPART      47903
STCESPARTO      67918
TPROBSON        38248
TPNASCASSI      14257
DTNASC              0
HORANASC         1368
APGAR1          28032
APGAR5          27495
PESO              268
SEXO                0
RACACOR         45982
IDANOMAL            0
CODANOMAL     2511829
LOCNASC            79
CODESTAB        24775
CODMUNNASC          0
IDADEPAI      1675681
TPMETESTIM    1416884
STDNEPIDEM          3
STDNNOVA            0
dtype: int64

In [ ]:
# And here we can see the smallest and biggest 
# values (min, max)
# The mean and standart deviation (std)
# 1st, 2nd and 3rd Quartiles (25%, 50% and 75%)
# and the total number of non missing values (count)

df.describe()

,IDADEMAE,DTNASCMAE,RACACORMAE,ESTCIVMAE,QTDFILVIVO,QTDFILMORT,QTDGESTANT,QTDPARTNOR,QTDPARTCES,PARIDADE,...,SEXO,RACACOR,IDANOMAL,LOCNASC,CODESTAB,CODMUNNASC,IDADEPAI,TPMETESTIM,STDNEPIDEM,STDNNOVA
count,2.537542e+06,2523154,2.485067e+06,2.520511e+06,2.500375e+06,2.481201e+06,2.497521e+06,2.483494e+06,2.478970e+06,2.537576e+06,...,2.537576e+06,2.491594e+06,2.537576e+06,2.537497e+06,2512801.000,2.537576e+06,861895.000000,1.120692e+06,2.537573e+06,2.537576e+06
mean,2.765704e+01,1995-04-28 01:43:09.704473472,2.837840e+00,1.986388e+00,1.024360e+00,2.723040e-01,1.281611e+00,6.555804e-01,4.028645e-01,6.351045e-01,...,1.487671e+00,2.838040e+00,1.015536e-02,1.030128e+00,2994136.750,3.202480e+05,32.160557,1.563689e+00,6.774816e-01,9.999882e-01
min,8.000000e+00,1957-07-12 00:00:00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,94.000,1.100010e+05,9.000000,1.000000e+00,0.000000e+00,0.000000e+00
25%,2.200000e+01,1990-04-22 00:00:00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,2119528.000,2.601200e+05,26.000000,1.000000e+00,0.000000e+00,1.000000e+00
50%,2.700000e+01,1995-09-11 00:00:00,4.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,...,1.000000e+00,4.000000e+00,0.000000e+00,1.000000e+00,2461005.000,3.205300e+05,32.000000,2.000000e+00,1.000000e+00,1.000000e+00
75%,3.300000e+01,2000-07-27 00:00:00,4.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,2.000000e+00,4.000000e+00,0.000000e+00,1.000000e+00,2798220.000,3.550300e+05,37.000000,2.000000e+00,1.000000e+00,1.000000e+00
max,6.500000e+01,2023-10-30 00:00:00,5.000000e+00,5.000000e+00,3.000000e+01,2.800000e+01,9.200000e+01,9.700000e+01,9.100000e+01,1.000000e+00,...,2.000000e+00,5.000000e+00,1.000000e+00,5.000000e+00,9999999.000,5.300100e+05,98.000000,2.000000e+00,1.000000e+00,1.000000e+00
std,6.723352e+00,NaN,1.419769e+00,1.404968e+00,1.241332e+00,6.119844e-01,1.460373e+00,1.212463e+00,7.427981e-01,4.814009e-01,...,5.001649e-01,1.419894e+00,1.002608e-01,2.586710e-01,1999851.375,1.006997e+05,7.730621,4.959273e-01,4.674402e-01,3.438338e-03

The info. about each column can be seen [here](../docs/features.md)